.caja {
    width: 300px;
    height: 300px;
    /* background-color: chartreuse;*/
    padding: 20px;
    box-sizing: border-box;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 0.9836309523809523) 0%, rgba(149, 162, 41, 0.9864320728291317) 0%, rgba(0, 125, 255, 0.8575805322128851) 78%);
    margin-bottom: 50px;

}

.caja2 {
    width: 300px;
    height: 300px;
    background-color: chartreuse;
    padding: 20px;
    border: 2px solid black;
    /* border-radius: 20px; */
    border-radius: 59px 59px 59px 59px;
    border: 24px solid #cd2c13;
    box-shadow: 20px 40px 15px blue;

}